.popular-tag {
    position: relative;
    display: block;
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px;
}

.popular-tag li {
    position: relative;
    display: inline-block;
    float: left;
    margin: 0px 10px 10px 0px;
}

.popular-tag li a {
    position: relative;
    display: block;
    padding: 9px 15px 7px;
    background: #ffffff;
    border-radius: 15px;
    color: var(--thm-gray);
    background-color: #f1f1f1;
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    transition: all 500ms ease;
}

.popular-tag li:hover a {
    color: #ffffff;
    background-color: var(--thm-base);
}